psutil
requests
wmi
pycryptodome
discord
discord.py
pillow
pypiwin32

tinyaes
wheel   
pyinstaller
InquirerPy
rich
pyobf2==1.1.5
aiohttp>=3.9.0 # not directly required, pinned by Snyk to avoid a vulnerability